.auth-layout-content {
  height: $h-screen;
  .content-header {
    width: $w-full;
    padding: $p-2 $p-5;
    position: fixed;
    top: 0;
  }
  .content-inner {
    padding: 0 $p-5 * 2;
    height: $h-full;
    .inner-wrap {
      height: $h-full;
    }
    @include respond(laptop) {
      padding: 0;
    }
  }
  @include respond(laptop) {
    padding: $p-2;
  }
  @include respond(smTablet) {
    padding: $p-2;
    height: auto;
  }
}
