.comment-sticker {
  max-width: $w-10 * 3.2;
  padding: $p-3 $p-1;
  .sticker-item {
    padding: $p-1 - 0.2 $p-1;
    border-radius: $rounded-xxl;
    transition: all $transition-time-sm $transition-fn;
    cursor: pointer;
    &:hover {
      opacity: 0.9;
    }
    .item-title {
      color: $text-white;
    }
  }
  .sticker-item-blue {
    background: $bg-blue;
  }
  .sticker-item-red {
    background: $bg-red;
  }
  .sticker-item-green {
    background: $bg-green;
  }
  .sticker-item-orange {
    background: $bg-orange;
  }
  .sticker-item-yellow {
    background: $bg-yellow;
  }
  .sticker-item-purple {
    background: $bg-purple;
  }
  .sticker-item-pink {
    background: $bg-pink;
  }
  .sticker-item-brown {
    background: $bg-brown;
  }
  .sticker-item-black {
    background: $bg-black;
  }
  .sticker-item-light-green {
    background: $bg-light-green;
  }
}

.comment-photo {
  width: max-content;
  margin-top: $m-1;
  position: relative;
  .photo-close {
    width: $w-2;
    height: $h-2;
    position: absolute;
    top: -1rem;
    right: -1rem;
    z-index: 1;
  }
}

.comment-item {
  .item-main {
    .main-content {
      padding: $p-1;
      background: $bg-slate;
      border-radius: $rounded-xxl;
      & > p {
        line-height: $h-2 !important;
      }
    }
    .main-action {
      transition: all $transition-time-sm $transition-fn;
      cursor: pointer;
      &:hover {
        color: $text-orange;
      }
    }
  }
  .item-child {
    padding-left: $p-4;
  }
}
