.header {
  width: $w-full;
  .header-icon {
    cursor: pointer;
  }
  .search-input {
    width: $w-10 * 3.2;
    position: relative;
    .input-logo {
      opacity: 1;
      transition: all $transition-time-xs $transition-fn;
    }
    .input-control {
      width: calc($w-full - 100px);
      position: absolute;
      right: 0;
      z-index: 10;
      transition: all $transition-time-xs $transition-fn;
      .control-back {
        width: $w-1;
        cursor: pointer;
        path {
          transition: all $transition-time-xs $transition-fn;
        }
      }
      .control-box {
        width: $w-full;
      }
      .control-dropdown {
        min-width: max-content;
        min-height: max-content;
        max-height: $h-10 * 4;
        width: $w-full;
        padding: $p-1;
        background: $bg-white;
        border-radius: $rounded;
        box-shadow: 0 0 5px $bg-black-rgba-xs;
        overflow-y: auto;
        position: absolute;
        top: 80%;
        left: 0;
        opacity: 0;
        z-index: 5;
        transition: all $transition-time-xs $transition-fn;
        @include respond(smTablet) {
          min-height: unset;
          height: $h-10 * 4;
        }
        @include respond(mdPhone) {
          width: $w-full;
          min-height: max-content;
          position: unset;
          box-shadow: unset;
        }
      }
      .control-dropdown-active {
        opacity: 1;
        top: calc(100% + 5px);
        animation: controlDropdown $transition-time-xs $transition-fn;
      }
      @include respond(mdPhone) {
        height: $h-screen;
        overflow-y: auto;
        padding: $p-1;
        position: fixed;
        top: 0;
        opacity: 0;
        visibility: hidden;
        background: $bg-white;
      }
    }
    .input-control-active {
      width: $w-full;
      .control-box {
        width: calc($w-full - $w-4);
      }
    }
    .input-control-responsive {
      @include respond(mdPhone) {
        opacity: 1;
        visibility: visible;
      }
    }
    .input-logo-render {
      opacity: 0;
      animation: fading $transition-time-xs $transition-fn;
    }
  }
  .header-navbar {
    .navbar-item {
      width: $w-full;
      .item-title {
        padding: $p-1;
        transition: all $transition-time-xs $transition-fn;
        &:hover {
          background: $bg-slate;
        }
      }
    }
    .navbar-item-active {
      .item-title {
        path {
          color: $text-white;
        }
      }
    }
    @include respond(mdTablet) {
      padding: $p-1 0;
      border-bottom: 1px solid $bg-slate;
    }
  }
}

.header-features {
  position: relative;
  .features {
    width: $w-10 * 4;
    max-height: $h-10 * 4;
    background: $bg-white;
    border-radius: $rounded;
    box-shadow: 2px 2px 10px $bg-black-rgba-sm;
    position: absolute;
    overflow: hidden;
    top: 100%;
    right: 1rem;
    opacity: 0;
    z-index: 11;
    transition: all $transition-time-xs $transition-fn;
    &:hover {
      overflow-y: auto;
    }
    @include respond(smTablet) {
      width: calc($w-full - 100px);
      height: $h-screen;
      max-height: unset;
      top: 0;
      right: 0;
      position: fixed;
    }
  }
  .features-active {
    opacity: 1;
    top: calc(100% + 5px);
    animation: features $transition-time-xs $transition-fn;
    @include respond(smTablet) {
      width: $w-full;
      top: 0;
      animation: spanWidth $transition-time-xs $transition-fn;
    }
  }
}

// Shape
.header-square {
  .navbar-item {
    .item-title {
      border-radius: $rounded;
    }
  }
}

.header-round {
  .navbar-item {
    .item-title {
      border-radius: $rounded-xxl;
    }
  }
}

// Color
.header-blue {
  .control-back {
    &:hover * {
      color: $text-blue;
    }
  }
  .navbar-item-active {
    .item-title {
      background: $bg-blue;
    }
  }
  .profile-lang-selected {
    background: $bg-blue-rgba-xs;
    & * {
      color: $text-blue;
    }
  }
}

.header-green {
  .control-back {
    &:hover * {
      color: $text-green;
    }
  }
  .navbar-item-active {
    .item-title {
      background: $bg-green;
    }
  }
  .profile-lang-selected {
    background: $bg-green-rgba-xs;
    & * {
      color: $text-green;
    }
  }
}

.header-red {
  .control-back {
    &:hover * {
      color: $text-red;
    }
  }
  .navbar-item-active {
    .item-title {
      background: $bg-red;
    }
  }
  .profile-lang-selected {
    background: $bg-red-rgba-xs;
    & * {
      color: $text-red;
    }
  }
}

.header-orange {
  .control-back {
    &:hover * {
      color: $text-orange;
    }
  }
  .navbar-item-active {
    .item-title {
      background: $bg-orange;
    }
  }
  .profile-lang-selected {
    background: $bg-orange-rgba-xs;
    & * {
      color: $text-orange;
    }
  }
}

.header-yellow {
  .control-back {
    &:hover * {
      color: $text-yellow;
    }
  }
  .navbar-item-active {
    .item-title {
      background: $bg-yellow;
    }
  }
  .profile-lang-selected {
    background: $bg-yellow-rgba-xs;
    & * {
      color: $text-yellow;
    }
  }
}

.header-purple {
  .control-back {
    &:hover * {
      color: $text-purple;
    }
  }
  .navbar-item-active {
    .item-title {
      background: $bg-purple;
    }
  }
  .profile-lang-selected {
    background: $bg-purple-rgba-xs;
    & * {
      color: $text-purple;
    }
  }
}

.header-pink {
  .control-back {
    &:hover * {
      color: $text-pink;
    }
  }
  .navbar-item-active {
    .item-title {
      background: $bg-pink;
    }
  }
  .profile-lang-selected {
    background: $bg-pink-rgba-xs;
    & * {
      color: $text-pink;
    }
  }
}

@keyframes fading {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes features {
  from {
    opacity: 0;
    top: 100%;
  }
  to {
    opacity: 1;
    top: calc(100% + 5px);
  }
}

@keyframes controlDropdown {
  from {
    top: 80%;
    opacity: 0;
  }
  to {
    top: calc(100% + 5px);
    opacity: 1;
  }
}

@keyframes spanWidth {
  from {
    opacity: 0;
    width: calc($w-full - 100px);
  }
  to {
    opacity: 1;
    width: $w-full;
  }
}
