.modal-layout {
  width: $w-10 * 5;
  overflow: unset;
  .modal-body {
    max-height: $h-screen;
    padding: 0;
    overflow: unset;
    @include respond(mdPhone) {
      height: $h-screen;
      position: relative;
    }
  }
  @include respond(mdTablet) {
    width: $w-10 * 6 !important;
    height: auto;
  }
  @include respond(lgPhone) {
    width: $w-10 * 5 !important;
    height: $h-screen;
  }
  @include respond(mdPhone) {
    width: $w-full !important;
    height: $h-screen;
  }
  @include respond(smPhone) {
    width: $w-full !important;
    height: $h-screen;
  }
}

.modal-layout-head {
  padding: $p-1 $p-2;
  border-bottom: 1px solid $bg-gray;
}

.modal-layout-body {
  max-height: calc($h-screen - 150px);
  padding: $p-1 $p-2;
  overflow-y: auto;
  @include respond(mdTablet) {
    max-height: calc($h-screen - 100px);
  }
  @include respond(mdPhone) {
    max-height: calc($h-screen - 100px);
  }
}

.modal-layout-foot {
  width: $w-full;
  padding: $p-1 $p-2;
  @include respond(lgPhone) {
    background: $bg-white;
    position: absolute;
    z-index: 5;
  }
}