.post-card {
  margin: $m-1 0;
}

.post-image {
  width: $w-full;
  height: $h-full;
  cursor: pointer;
}

.post-setting {
  max-height: $h-10 * 3;
  padding: $p-1;
  overflow-y: auto;
}

.post-action {
  cursor: pointer;
  * {
    color: $text-gray;
    transition: all $transition-time-sm $transition-fn;
  }
}

.post-action-blue {
  &:hover * {
    color: $text-blue;
  }
}

.post-action-red {
  &:hover * {
    color: $text-red;
  }
}

.post-action-orange {
  &:hover * {
    color: $text-orange;
  }
}

.post-action-green {
  &:hover * {
    color: $text-green;
  }
}

.post-action-yellow {
  &:hover * {
    color: $text-yellow;
  }
}

.post-action-purple {
  &:hover * {
    color: $text-purple;
  }
}

.post-action-pink {
  &:hover * {
    color: $text-pink;
  }
}
