.album {
  padding: $p-1;
  .album-empty {
    width: $w-full;
    height: $h-screen;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .album-list {
    .list-item {
      height: $h-10 * 3;
      position: relative;
      .item-remove {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        z-index: 1;
      }
      @include respond(mdTablet) {
        height: $h-10 * 3;
      }
      @include respond(mdPhone) {
        height: $h-10 * 1.5;
      }
    }
  }
}

.album-mobile {
  width: $w-full;
  margin-top: $m-2;
  min-height: $h-screen;
  background: $bg-white;
  border-radius: $rounded-lg;
}
