.profile-content {
  padding: $p-2 $p-5 * 3.5;
  @include respond(laptop) {
    padding: $p-2 $p-5;
  }
  @include respond(lgTablet) {
    padding: $p-2;
  }
  @include respond(smTablet) {
    padding: $p-1;
  }
}

.profile-full {
  .profile-head {
    padding: 0 $p-3;
  }
  .profile-content {
    padding: $p-2 $p-3;
  }
}

// Color
.profile-blue {
  .navbar-item-active {
    border-color: $bg-blue !important;
    & > * {
      color: $text-blue;
    }
  }
}

.profile-red {
  .navbar-item-active {
    border-color: $bg-red !important;
    & > * {
      color: $text-red;
    }
  }
}

.profile-orange {
  .navbar-item-active {
    border-color: $bg-orange !important;
    & > * {
      color: $text-orange;
    }
  }
}

.profile-green {
  .navbar-item-active {
    border-color: $bg-green !important;
    & > * {
      color: $text-green;
    }
  }
}

.profile-yellow {
  .navbar-item-active {
    border-color: $bg-yellow !important;
    & > * {
      color: $text-yellow;
    }
  }
}

.profile-purple {
  .navbar-item-active {
    border-color: $bg-purple !important;
    & > * {
      color: $text-purple;
    }
  }
}

.profile-pink {
  .navbar-item-active {
    border-color: $bg-pink !important;
    & > * {
      color: $text-pink;
    }
  }
}
