.photos-item {
  width: $w-10 * 1.5;
  .item-image {
    width: $w-full;
    height: $h-10 * 1.5;
    margin-bottom: $m-1;
    border: 1px solid $bg-gray;
    border-radius: $rounded-lg;
    .image-view {
      width: $w-full;
      height: $h-full;
    }
  }
  .item-desc {
    .desc-content {
      transition: color $transition-time-sm $transition-fn;
    }
  }
}

.photos-control {
  width: $w-10 * 1.5;
  cursor: pointer;
  .control-icon {
    width: $w-full;
    height: $h-10 * 1.5;
    margin-bottom: $m-1;
    border: 2px solid $bg-gray;
    border-radius: $rounded-lg;
    position: relative;
    transition: border-color $transition-time-sm $transition-fn;
    .icon {
      position: absolute;
      inset: 0;
      margin: auto;
      * {
        color: $text-gray;
        transition: color $transition-time-sm $transition-fn;
      }
    }
  }
  .control-label {
    transition: color $transition-time-sm $transition-fn;
  }
}

.album-photo {
  width: $w-full;
}
