.profile-friends {
  .friends-tabs {
    .tabs-titles {
      margin-bottom: $m-2;
      .titles-item {
        padding: $p-1;
        margin: $m-1 0;
        font-weight: 600;
        cursor: pointer;
        transition: background-color $transition-time-xs $transition-fn,
          color $transition-time-xs $transition-fn;
      }
    }
    .tabs-content {
      & > * {
        animation: fade $transition-time-sm $transition-fn;
      }
    }
  }
}

.policy-modal {
  overflow: hidden;
}

// Shape
.profile-friends-square {
  .titles-item {
    border-radius: $rounded-lg;
  }
}

.profile-friends-round {
  .titles-item {
    border-radius: $rounded-xxl;
  }
}

// Color
.profile-friends-blue {
  .titles-item {
    &:hover {
      background: $bg-blue-rgba-xs;
      color: $text-blue;
    }
  }
  .titles-item-selected {
    background: $bg-blue-rgba-xs;
    color: $text-blue;
  }
}

.profile-friends-red {
  .titles-item {
    &:hover {
      background: $bg-red-rgba-xs;
      color: $text-red;
    }
  }
  .titles-item-selected {
    background: $bg-red-rgba-xs;
    color: $text-red;
  }
}

.profile-friends-green {
  .titles-item {
    &:hover {
      background: $bg-green-rgba-xs;
      color: $text-green;
    }
  }
  .titles-item-selected {
    background: $bg-green-rgba-xs;
    color: $text-green;
  }
}

.profile-friends-orange {
  .titles-item {
    &:hover {
      background: $bg-orange-rgba-xs;
      color: $text-orange;
    }
  }
  .titles-item-selected {
    background: $bg-orange-rgba-xs;
    color: $text-orange;
  }
}

.profile-friends-yellow {
  .titles-item {
    &:hover {
      background: $bg-yellow-rgba-xs;
      color: $text-yellow;
    }
  }
  .titles-item-selected {
    background: $bg-yellow-rgba-xs;
    color: $text-yellow;
  }
}

.profile-friends-pink {
  .titles-item {
    &:hover {
      background: $bg-pink-rgba-xs;
      color: $text-pink;
    }
  }
  .titles-item-selected {
    background: $bg-pink-rgba-xs;
    color: $text-pink;
  }
}

.profile-friends-purple {
  .titles-item {
    &:hover {
      background: $bg-purple-rgba-xs;
      color: $text-purple;
    }
  }
  .titles-item-selected {
    background: $bg-purple-rgba-xs;
    color: $text-purple;
  }
}
