.icon-blue {
  * {
    color: $text-blue !important;
  }
}

.icon-red {
  * {
    color: $text-red !important;
  }
}

.icon-orange {
  * {
    color: $text-orange !important;
  }
}

.icon-yellow {
  * {
    color: $text-yellow !important;
  }
}

.icon-green {
  * {
    color: $text-green !important;
  }
}

.icon-purple {
  * {
    color: $text-purple !important;
  }
}

.icon-pink {
  * {
    color: $text-pink !important;
  }
}

.icon-gray {
  * {
    color: $text-gray !important;
  }
}
