.icon-blue {
  * {
    color: $text-blue;
  }
}

.icon-red {
  * {
    color: $text-red;
  }
}

.icon-orange {
  * {
    color: $text-orange;
  }
}

.icon-yellow {
  * {
    color: $text-yellow;
  }
}

.icon-green {
  * {
    color: $text-green;
  }
}

.icon-purple {
  * {
    color: $text-purple;
  }
}

.icon-pink {
  * {
    color: $text-pink;
  }
}

.icon-gray {
  * {
    color: $text-gray;
  }
}
