.friends-list {
  padding: $p-1 $p-3;
  @include respond(mdPhone) {
    padding: $p-3 $p-1;
  }
}

.friends-card {
  .card-body {
    padding: $p-1;
  }
  .card-image {
    width: $w-full;
    height: $h-10 * 2;
  }
}

.friends-empty {
  width: $w-full;
  height: $h-screen;
  display: flex;
  align-items: center;
  justify-content: center;
}

.friends-mobile {
  padding: $p-1;
  @include respond(smTablet) {
    padding-top: $p-5;
  }
  @include respond(mdPhone) {
    padding-top: $p-3;
  }
}
