.friends-grid {
  padding: $p-1 $p-3;
  .grid-title {
    .card-body {
      padding: $p-1;
    }
  }
  .grid-wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    @include respond(lgTablet) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include respond(mdPhone) {
      grid-template-columns: auto;
    }
  }
  @include respond(mdPhone) {
    padding: $p-3 $p-1;
  }
}

.friends-card {
  .card-body {
    padding: $p-1;
  }
  .card-image {
    width: $w-full;
    height: $h-10 * 2;
  }
}

.friends-empty {
  width: $w-full;
  height: $h-screen;
  display: flex;
  align-items: center;
  justify-content: center;
}

.friends-mobile {
  width: $w-full;
  padding: 0 $p-1;
  @include respond(smTablet) {
    padding-top: $p-5;
  }
  @include respond(mdPhone) {
    padding-top: $p-3;
  }
}
