.home {
  width: $w-10 * 7;
  padding: $p-1;
  .home-wrap {
    width: $w-10 * 5;
    margin: 0 auto;
    @include respond(laptop) {
      width: $w-full;
    }
    @include respond(lgTablet) {
      width: $w-10 * 5;
    }
    @include respond(mdPhone) {
      width: $w-full;
    }
  }
  .home-actions {
    margin-bottom: $m-1;
    .actions-button {
      width: calc($w-full - $w-5);
      justify-content: left;
    }
    @include respond(smTablet) {
      margin-top: $m-1;
    }
  }
  .home-side {
    width: $w-10 * 3.3;
    height: $h-screen;
    padding: $p-1;
    background: transparent;
    position: fixed;
    top: 0;
    right: 0;
    .side-inner {
      height: calc($h-screen - $h-1 * 8);
      margin-top: $m-5 + 1;
      background: $bg-white;
      box-shadow: 2px 2px 10px $bg-black-rgba-sm;
      border-radius: $rounded-lg;
      overflow: hidden;
      .side-head {
        padding: $p-1 $p-2;
        height: $h-1 * 6;
        .head-icon {
          cursor: pointer;
          & > * {
            transition: all $transition-time-sm $transition-fn;
          }
        }
      }
      .side-input {
        padding: $p-1;
        .input-icon {
          width: $w-4;
          cursor: pointer;
          & > * {
            transition: all $transition-time-sm $transition-fn;
          }
        }
        .input-box {
          width: calc($w-full - $w-5);
        }
      }
      .side-contacts {
        padding: $p-1;
        height: calc($h-full - $h-1 * 6);
        &:hover {
          overflow-y: auto;
        }
      }
    }
    @include respond(laptop) {
      width: $w-10 * 2.5;
    }
  }
  @include respond(laptop) {
    width: calc($w-full - $w-10 * 2.5);
  }
  @include respond(lgTablet) {
    width: $w-full;
  }
  @include respond(mdTablet) {
    width: $w-full;
  }
  @include respond(mdPhone) {
    width: $w-full;
  }
}

// Color
.home-blue {
  .head-icon,
  .input-icon {
    &:hover * {
      color: $text-blue;
    }
  }
}

.home-red {
  .head-icon,
  .input-icon {
    &:hover * {
      color: $text-red;
    }
  }
}

.home-green {
  .head-icon,
  .input-icon {
    &:hover * {
      color: $text-green;
    }
  }
}

.home-orange {
  .head-icon,
  .input-icon {
    &:hover * {
      color: $text-orange;
    }
  }
}

.home-yellow {
  .head-icon,
  .input-icon {
    &:hover * {
      color: $text-yellow;
    }
  }
}
.home-pink {
  .head-icon,
  .input-icon {
    &:hover * {
      color: $text-pink;
    }
  }
}

.home-purple {
  .head-icon,
  .input-icon {
    &:hover * {
      color: $text-purple;
    }
  }
}

// Create post content
.create-post-content {
  max-height: calc($h-screen - 300px);
  overflow-y: auto;
  overflow-x: hidden;
  @include respond(mdTablet) {
    max-height: calc($h-screen - 150px);
  }
  @include respond(mdPhone) {
    max-height: calc($h-screen - 150px);
  }
}

// Comment Modal
.comment-modal {
  width: $w-10 * 7;
  .post-modal-body {
    @include respond(mdTablet) {
      max-height: calc($h-screen - 150px);
    }
    @include respond(mdPhone) {
      max-height: calc($h-screen - 150px);
    }
  }
  .modal-body-height {
    max-height: calc($h-screen - 230px);
    @include respond(mdTablet) {
      max-height: calc($h-screen - 200px);
    }
    @include respond(mdPhone) {
      max-height: calc($h-screen - 200px);
    }
  }
}

// Post upload
.post-upload {
  padding: 1rem;
  border-radius: $rounded-lg;
  border: 1px solid $bg-gray;
  position: relative;
  transition: border-color $transition-time-xs $transition-fn;
  &:hover .upload-box {
    background: $bg-gray;
  }
  .upload-control {
    display: none;
  }
  .upload-actions {
    margin-bottom: $m-1;
  }
  .upload-box {
    height: $h-10 + 2rem;
    border-radius: $rounded-lg;
    transition: background-color $transition-time-xs $transition-fn,
      opacity $transition-time-xs $transition-fn;
    .box-content {
      height: $h-full;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      * {
        transition: color $transition-time-xs $transition-fn;
      }
    }
  }
  .upload-box-dragged {
    opacity: 0.6;
  }
  .upload-item {
    width: $w-full;
    height: $h-full;
    position: relative;
    &:hover .item-remove {
      opacity: 1;
    }
    .item-remove {
      position: absolute;
      top: 1rem;
      right: 1rem;
      opacity: 0;
      z-index: 5;
      transition: opacity $transition-time-xs $transition-fn;
    }
    .item-media {
      width: $w-full;
      height: $h-full;
    }
  }
}

.post-upload-blue {
  &:hover {
    border-color: $bg-blue;
    .box-content {
      * {
        color: $text-blue;
      }
    }
  }
}

.post-upload-red {
  &:hover {
    border-color: $bg-red;
    .box-content {
      * {
        color: $text-red;
      }
    }
  }
}

.post-upload-green {
  &:hover {
    border-color: $bg-green;
    .box-content {
      * {
        color: $text-green;
      }
    }
  }
}

.post-upload-orange {
  &:hover {
    border-color: $bg-orange;
    .box-content {
      * {
        color: $text-orange;
      }
    }
  }
}

.post-upload-yellow {
  &:hover {
    border-color: $bg-yellow;
    .box-content {
      * {
        color: $text-yellow;
      }
    }
  }
}

.post-upload-purple {
  &:hover {
    border-color: $bg-purple;
    .box-content {
      * {
        color: $text-purple;
      }
    }
  }
}

.post-upload-pink {
  &:hover {
    border-color: $bg-pink;
    .box-content {
      * {
        color: $text-pink;
      }
    }
  }
}
