.home {
  width: $w-10 * 7;
  padding: $p-1;
  .home-wrap {
    width: $w-10 * 5;
    margin: 0 auto;
    @include respond(laptop) {
      width: $w-full;
    }
    @include respond(lgTablet) {
      width: $w-10 * 5;
    }
    @include respond(mdPhone) {
      width: $w-full;
    }
  }
  .home-actions {
    margin: $m-1 0;
    .actions-button {
      width: calc($w-full - $w-5);
      justify-content: left;
    }
  }
  .home-post {
    margin: $m-1 0;
  }
  .home-side {
    width: $w-10 * 3.3;
    height: $h-screen;
    margin-top: $m-5 + 1;
    background: $bg-light-slate;
    padding: $p-1;
    position: fixed;
    top: 0;
    right: 0;
    .side-head {
      padding: 0 $p-1;
      height: $h-1 * 5;
      .head-icon {
        cursor: pointer;
      }
    }
    .side-input {
      .input-icon {
        width: $w-4;
        cursor: pointer;
        & > * {
          transition: all $transition-time-sm $transition-fn;
        }
        &:hover * {
          color: $text-orange;
        }
      }
      .input-box {
        width: calc($w-full - $w-5);
      }
    }
    .side-contacts {
      padding: $p-1 0;
      height: calc($h-screen - $h-1 * 5);
      &:hover {
        overflow-y: auto;
      }
    }
    @include respond(laptop) {
      width: $w-10 * 2.5;
    }
  }
  @include respond(laptop) {
    width: calc($w-full - $w-10 * 2.5);
  }
  @include respond(lgTablet) {
    width: $w-full;
  }
  @include respond(mdTablet) {
    width: $w-full;
  }
  @include respond(mdPhone) {
    width: $w-full;
  }
}

// Modal component
.post-modal-head {
  padding: $p-1 $p-2;
  border-bottom: 1px solid $bg-gray;
}

.post-modal-body {
  max-height: calc($h-screen - 150px);
  padding: $p-1 $p-2;
  overflow-y: auto;
  @include respond(mdTablet) {
    max-height: calc($h-screen - 100px);
  }
  @include respond(mdPhone) {
    max-height: calc($h-screen - 100px);
  }
}

.post-modal-foot {
  width: $w-full;
  padding: $p-1 $p-2;
  @include respond(lgPhone) {
    background: $bg-white;
    position: absolute;
    z-index: 5;
  }
}

// Create post modal
.post-modal {
  overflow: hidden;
}

.post-image {
  width: $w-full;
}
.post-action {
  cursor: pointer;
  * {
    color: $text-gray;
    transition: all $transition-time-sm $transition-fn;
  }
  &:hover * {
    color: $text-orange;
  }
}
.post-setting {
  max-height: $h-10 * 3;
  padding: $p-1;
  overflow-y: auto;
}

// Post modal content
.post-content {
  padding: $p-1 0;
  max-height: calc($h-screen - 250px);
  overflow-y: auto;
  overflow-x: hidden;
  @include respond(mdTablet) {
    max-height: calc($h-screen - 200px);
  }
  @include respond(mdPhone) {
    max-height: calc($h-screen - 200px);
  }
}

.create-post-content {
  max-height: calc($h-screen - 300px);
  overflow-y: auto;
  overflow-x: hidden;
  @include respond(mdTablet) {
    max-height: calc($h-screen - 150px);
  }
  @include respond(mdPhone) {
    max-height: calc($h-screen - 150px);
  }
}

// Comment Modal
.comment-modal {
  width: $w-10 * 7;
}
