.post-detail {
  width: $w-full;
  height: $h-screen;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  .detail-carousel {
    background: $bg-black;
  }
  .detail-content {
    width: $w-full;
    height: $h-screen;
    padding: $p-1;
    background: $bg-white;
    .content-header {
      height: $h-5;
      border-bottom: 1px solid $bg-gray;
    }
    .content-main {
      margin-top: $m-1;
      padding-right: $p-1;
      height: calc($h-screen - $h-8);
      overflow: hidden;
      &:hover {
        overflow-y: auto;
      }
    }
  }
}
