.post-detail {
  width: $w-full;
  height: $h-screen;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  .detail-carousel {
    position: relative;
    background: $bg-black;
    .carousel-header {
      position: absolute;
      cursor: pointer;
      top: 1rem;
      right: 1rem;
      z-index: 10;
    }
    .carousel-item {
      .item-image {
        @include respond(lgTablet) {
          width: $w-full;
        }
      }
      @include respond(lgTablet) {
        width: calc($w-full - 1rem);
      }
    }
  }
  .detail-content {
    width: $w-full;
    height: $h-screen;
    padding: $p-1;
    background: $bg-white;
    .content-header {
      height: $h-6;
      border-bottom: 1px solid $bg-gray;
    }
    .content-main {
      margin-top: $m-1;
      padding-right: $p-1;
      height: calc($h-screen - $h-9);
      overflow: hidden;
      &:hover {
        overflow-y: auto;
      }
      @include respond(laptop) {
        overflow-y: auto;
      }
    }
  }
}

.post-detail-dark {
  .detail-content {
    background: $bg-dark;
  }
}