.head.head-fixed {
  z-index: 2;
  @include respond(mdTablet) {
    height: auto;
  }
}

.side {
  z-index: 1 !important;
  .side-content {
    overflow-y: hidden !important;
  }
}

.side.side-layout {
  width: $w-10 * 3.3;
  border-right: unset;
  @include respond(laptop) {
    width: $w-10 * 2.5;
  }
  @include respond(mdTablet) {
    left: 0;
    padding-top: $p-5 + 2;
  }
  @include respond(smTablet) {
    left: 0;
    padding-top: $p-5 + 8;
  }
}

.content.content-layout {
  background: $bg-light-slate;
  @include respond(mdTablet) {
    padding-top: $p-5 + 3;
  }
  @include respond(smTablet) {
    padding-top: $p-5 + 8;
  }
  @include respond(mdPhone) {
    padding-top: $p-5 + 5;
  }
}

.content.content-resize {
  padding-left: $w-10 * 3.3;
  @include respond(laptop) {
    padding-left: $w-10 * 2.5;
  }
  @include respond(smTablet) {
    padding-left: 0;
  }
}

.content-full.content-resize {
  padding-left: 0;
}

.button.button-text {
  padding: 0;
}
