.side {
  .side-content {
    overflow-y: hidden !important;
  }
  &:hover .side-content {
    overflow-y: auto !important;
  }
}

.side.side-layout {
  width: $w-10 * 3.3;
  border-right: unset;
  @include respond(laptop) {
    width: $w-10 * 2.5;
  }
}

.content.content-layout {
  @include respond(mdTablet) {
    padding-top: $p-5 + 1;
  }
}

.content.content-resize {
  padding-left: $w-10 * 3.3;
  @include respond(laptop) {
    padding-left: $w-10 * 2.5;
  }
  @include respond(mdTablet) {
    padding-left: 0;
  }
}
